<?xml version="1.0"?>
<config>
  <modules>
    <Logicbroker_Dropship360>
      <version>1.0.5</version>
    </Logicbroker_Dropship360>
  </modules>
  <global>
     <blocks>
      <logicbroker>
        <class>Logicbroker_Dropship360_Block</class>
      </logicbroker>
      <adminhtml>
        <rewrite>
			 <sales_order_view_items>Logicbroker_Dropship360_Block_Adminhtml_Sales_Order_View_Items</sales_order_view_items>
         </rewrite>
     </adminhtml>
    </blocks>
    
    <helpers>
      <logicbroker>
        <class>Logicbroker_Dropship360_Helper</class>
      </logicbroker>
    </helpers>
	<models>
	  <logicbroker>
		<class>Logicbroker_Dropship360_Model</class>
		<resourceModel>logicbroker_resource</resourceModel>
	  </logicbroker>
	  <logicbroker_resource>
		<class>Logicbroker_Dropship360_Model_Resource</class>
		<entities>		  
			  <supplier>
				<table>logicbroker_vendor</table>
			  </supplier>
              <inventory>
				<table>logicbroker_vendor_inventory</table>
			  </inventory>
			  <inventorylog>
				<table>logicbroker_vendor_inventory_log</table>
			  </inventorylog>
              <ranking>
				<table>logicbroker_vendor_ranking</table>
			  </ranking>
               <rankinglog>
				<table>logicbroker_vendor_rankinglog</table>
			  </rankinglog>
			  <ordersourcing>
				<table>logicbroker_sales_orders</table>
			  </ordersourcing>
			  <orderitems>
				<table>logicbroker_sales_orders_items</table>
			  </orderitems>
			  <uploadvendor>
				<table>logicbroker_vendor_product_import</table>
			  </uploadvendor>
			  <vendor_import_log>
			  <table>logicbroker_vendor_product_import_log</table>
			  </vendor_import_log>
			  <tmpdata>
			  <table>logicbroker_tmp_data</table>
			  </tmpdata> 
        </entities>
	  </logicbroker_resource>
		<sales>
			<rewrite>
				<order_api_v2>Logicbroker_Dropship360_Model_Order_Api</order_api_v2>
			</rewrite>
		</sales>
	</models>
	<resources>
	  <dropship360_setup>
		<setup>
		  <module>Logicbroker_Dropship360</module>
		   <class>Logicbroker_Dropship360_Model_Resource_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </dropship360_setup>
	  <logicbroker_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </logicbroker_write>
	  <logicbroker_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </logicbroker_read>
	</resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <logicbroker_invoice>
                        <class>logicbroker/observer</class>
                        <method>insertProcessOrder</method>
                    </logicbroker_invoice>
                </observers>
            </sales_order_place_after>
            <sales_order_shipment_save_before>
                <observers>
                    <logicbroker_shipmentemail_sales_order_shipment_save_before>
                        <type>singleton</type>
                        <class>logicbroker/observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </logicbroker_shipmentemail_sales_order_shipment_save_before>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <logicbroker_shipmentemail_sales_order_shipment_save_after>
                        <type>singleton</type>
                        <class>logicbroker/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </logicbroker_shipmentemail_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
			<catalog_product_delete_after> 
				<observers>
                    <logicbroker_catalog_product_delete_after>
                        <type>singleton</type>
                        <class>logicbroker/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </logicbroker_catalog_product_delete_after>
                </observers>
			</catalog_product_delete_after>   	
        </events>
        <template>
            <email>
                <logicbroker_email_email_template translate="label" module="logicbroker">
                    <label>logicbroker</label>
                    <file>logicbroker.html</file>
                    <type>html</type>
                </logicbroker_email_email_template>
            </email>
        </template>
        
  </global>
  
  <admin>
        <routers>
		<logicbroker>
                    <use>admin</use>
                        <args>
                            <module>Logicbroker_Dropship360</module>
                            <frontName>logicbroker</frontName>
			</args>
		</logicbroker>
        </routers>
    </admin>
    <adminhtml>
    <layout>
	<updates>
          <logicbroker>
             <file>logicbroker.xml</file>
          </logicbroker>
	</updates>
    </layout>
    <translate>
            <modules>
                <Logicbroker_Dropship360>
                    <files>
                        <default>Logicbroker_Dropship360.csv</default>
                    </files>
                </Logicbroker_Dropship360>
            </modules>
	</translate>
	<events>
            <catalog_product_save_after>
                <observers>
                    <logicbroker_save_product_data>
                        <type>singleton</type>
                        <class>logicbroker/observer</class>
                        <method>saveProductTabData</method>
                    </logicbroker_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <default>
    <logicbroker_integration>
      <integration>
        <api_user_name>LogicBrokerIntegration</api_user_name>
        <processing_status>proceesing</processing_status>
        <error_status>error</error_status>
        <sentto_warehouse_status>sent_to_warehouse</sentto_warehouse_status>
        <ds360_version>2.1.0</ds360_version>
      </integration>
    </logicbroker_integration>
	<logicbroker_cron>
	</logicbroker_cron>
	<logicbroker_sourcing>
      <rank>
        <ranktype>cost</ranktype>
        <defaultbackorder>none</defaultbackorder>
		<email_shipment>0</email_shipment>
      </rank>
      <inventory>
       <buffer>0</buffer> 
      </inventory>
		<cron_settings>
			<sourcing_time>-2,10</sourcing_time>
			<backorder_time>-1,0</backorder_time>
		</cron_settings>
		<cron_settings_upload>
		<enabled>0</enabled>
			<time>23,59</time>
		</cron_settings_upload>
    </logicbroker_sourcing>
  </default>
    
    
    <apiconfig>
        <termsandconditions>
            <link>http://www.logicbroker.com/magento-edi-connector-agreement/</link>
         </termsandconditions>
         <helpurl>
            <link>http://help.logicbroker.com/hc/en-us/categories/200150359-dropship360</link>
         </helpurl>
	<email>
	<toaddress>magentoext@logicbroker.com</toaddress>
	<toname>logicbroker</toname>
	<subject>logicbroker new extesnion Installation</subject>
	</email>
    </apiconfig>
    <crontab>
        <jobs>
            <logicbroker_dropship360>
               <run>
                    <model>logicbroker/observer::logicbrokerSourcing</model>
                </run>
            </logicbroker_dropship360>
            <logicbroker_backorder>
               <run>
                    <model>logicbroker/observer::logicbrokerBackorder</model>
                </run>
            </logicbroker_backorder>
           <logicbroker_uploadvendor>
               <run>
                    <model>logicbroker/uploadvendor::ftpParseCsv</model>
                </run>
            </logicbroker_uploadvendor> 
            <logicbroker_report_email>
               <run>
                    <model>logicbroker/report::sendNotification</model>
                </run>
            </logicbroker_report_email>  
        </jobs>
    </crontab>   
</config> 