<?xml version="1.0"?>
<config>
  <tabs>
    <dropship360 translate="label" module="dropship360">
      <label>dropship360</label>
      <sort_order>500</sort_order>
    </dropship360>
  </tabs>
  <sections>
  <logicbroker_integration  translate="label" module="dropship360">
      <label>General Setup</label>
      <tab>dropship360</tab>
      <frontend_type>text</frontend_type>
      <sort_order>40</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>0</show_in_website>
      <show_in_store>0</show_in_store>
      <groups>
        <integration translate="label">
          <label>Getting Started</label>
          <page_heading>Suppliers</page_heading>
          <expanded>1</expanded>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
            <fields>
               <notificationstatus translate="label">
                <frontend_type>hidden</frontend_type>
               </notificationstatus>
               
            <getstarted translate="label">
               
                <frontend_type>text</frontend_type>
	               <frontend_model>dropship360/adminhtml_system_config_fieldset_hint</frontend_model>
	                <sort_order>6</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>

             </getstarted>
               
               
            </fields>
        </integration>
      </groups>
    </logicbroker_integration>
    
    <logicbroker_sourcing  translate="label" module="dropship360">
      <label>Configuration/Setup</label>
      <tab>dropship360</tab>
      <frontend_type>text</frontend_type>
      <sort_order>42</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>0</show_in_website>
      <show_in_store>0</show_in_store>
      <groups>
  
        <rank translate="label">
          <label>Sourcing Logic</label>
          <page_heading>Sourcing</page_heading>
          <expanded>1</expanded>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
           <ranktype translate="label">
                <label>Sourcing Rule</label>
                <frontend_type>select</frontend_type>
                <source_model>dropship360/system_config_source_ranktype</source_model>
                <sort_order>0</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
                
            </ranktype>
            <defaultbackorder translate="label">
                <label>Default Supplier</label>
                <frontend_type>select</frontend_type>
                <source_model>dropship360/system_config_source_vendorlist</source_model>
                <comment>Selected Supplier will override the backorder logic.</comment>
                <sort_order>1</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
                
               </defaultbackorder>
			<email_shipment translate="label">
                <label>Email customer when tracking is added</label>
                <frontend_type>select</frontend_type>
				<source_model>adminhtml/system_config_source_yesno</source_model>
                <comment>Shipping information will automatically be sent when tracking is added.</comment>
                <sort_order>2</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>              
            </email_shipment>
            <sourcing_type>
            	<label>Event Driven Sourcing</label>
                <frontend_type>select</frontend_type>
                <source_model>adminhtml/system_config_source_yesno</source_model>
                <comment>Select "Yes" to trigger sourcing logic in the sales_order_place_after event.</comment>
                <sort_order>3</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
            </sourcing_type>
			   
            </fields>
  
        </rank>
        
        <inventory translate="label">
          <label>Inventory</label>
          <page_heading>Inventory</page_heading>
          <expanded>1</expanded>
          <frontend_type>text</frontend_type>
          <sort_order>2</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
           <buffer translate="label">
                <label>Buffer</label>
                <frontend_type>text</frontend_type>
                <sort_order>0</sort_order>
                <comment>Buffer value will be subtracted from each Supplier's inventory</comment>
                <validate>required-entry validate-digits</validate>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
                
            </buffer>
            
            </fields>
  
        </inventory>
  
            
  
			<cron_settings translate="label">
			  <label>Cron Schedule Tasks</label>
			  <page_heading>Cron Schedule Tasks</page_heading>
			   <frontend_type>text</frontend_type>
			  <expanded>1</expanded>
			  <sort_order>3</sort_order>
			  <show_in_default>1</show_in_default>
			  <show_in_website>0</show_in_website>
			  <show_in_store>0</show_in_store>
			  <fields>
					<sourcing_time translate="label">
                            <label>Reprocessing Schedule Frequency</label>
                            <frontend_model>dropship360/adminhtml_system_config_crontime</frontend_model>
							<backend_model>dropship360/system_config_backend_sourcing_cronsourcing</backend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <!-- <comment>Hours Minutes</comment> -->
	              </sourcing_time>
	              <backorder_time translate="label">
                            <label>Backorder Schedule Frequency</label>
                             <frontend_model>dropship360/adminhtml_system_config_crontime</frontend_model>
							  <backend_model>dropship360/system_config_backend_sourcing_cronbackorder</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                           <!--  <comment>Hours Minutes</comment> -->
	              </backorder_time>
					<dispaly_sourcing_updated_time translate="label">
					<label>Reprocessing Last Run Date</label>
						<frontend_type>text</frontend_type>
						 <frontend_model>dropship360/adminhtml_system_config_submitbutton</frontend_model>
						<sort_order>7</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</dispaly_sourcing_updated_time>
					<display_backorder_updated_time translate="label">
					<label>Backorder Last Run Date</label>
						<frontend_type>text</frontend_type>
						 <frontend_model>dropship360/adminhtml_system_config_submitbutton</frontend_model>
						<sort_order>8</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>0</show_in_website>
						<show_in_store>0</show_in_store>
					</display_backorder_updated_time>
											
				</fields>
			</cron_settings>
			<cron_settings_upload translate="label">
			  <label>Cron Schedule Tasks For Upload Supplier Using FTP</label>
			  <page_heading>Cron Schedule Tasks For Upload Supplier</page_heading>
			   <frontend_type>text</frontend_type>
			  <expanded>1</expanded>
			  <sort_order>4</sort_order>
			  <show_in_default>1</show_in_default>
			  <show_in_website>0</show_in_website>
			  <show_in_store>0</show_in_store>
			  <fields>
			  <enabled translate="label">
					<label>Enable Supplier Product Upload</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
              </enabled>
              <ftp_accnumber>
					<label>Logicbroker Account Number</label>
					<frontend_type>text</frontend_type>
					<validate>required-entry</validate>
					<sort_order>11</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </ftp_accnumber>
              <ftp_site>
					<label>Ftp Site</label>
					<frontend_type>text</frontend_type>
					<validate>required-entry</validate>
					<sort_order>11</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </ftp_site>
              <ftp_username>
					<label>Ftp Username</label>
					<frontend_type>text</frontend_type>
					<validate>required-entry</validate>
					<sort_order>12</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </ftp_username>
              <ftp_password>
					<label>Ftp Password</label>
					<frontend_type>password</frontend_type>
					<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
					<validate>required-entry</validate>
					<sort_order>13</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </ftp_password>
              <ftp_type>
					<label>Ftp Type</label>
					<frontend_type>select</frontend_type>
					<source_model>dropship360/system_config_source_ftptype</source_model>
					<validate>required-entry</validate>
					<sort_order>14</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </ftp_type>
              <ftp_testconnection>
					<frontend_type>button</frontend_type>
					<frontend_model>dropship360/adminhtml_system_config_ftpconnectionbutton</frontend_model>
					<sort_order>15</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </ftp_testconnection>
			  <time translate="label">
					<label>Frequency</label>
					<frontend_model>dropship360/adminhtml_system_config_crontime</frontend_model>
					<backend_model>dropship360/system_config_backend_uploadvendor_cron</backend_model>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<!-- <comment>Hours Minutes</comment> -->
					<depends><enabled>1</enabled></depends>
              </time>
			  </fields>
			  </cron_settings_upload>
			  
			  <cron_settings_report translate="label">
			  <label>Cron Schedule Tasks For Send Report Email</label>
			  <page_heading>Cron Schedule Tasks For Send Report Email</page_heading>
			   <frontend_type>text</frontend_type>
			  <expanded>1</expanded>
			  <sort_order>5</sort_order>
			  <show_in_default>1</show_in_default>
			  <show_in_website>0</show_in_website>
			  <show_in_store>0</show_in_store>
			  <fields>
			  <enabled translate="label">
					<label>Enable Report Email Notification</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
              </enabled>
              <time translate="label">
					<label>Frequency</label>
					<frontend_model>dropship360/adminhtml_system_config_crontime</frontend_model>
					<backend_model>dropship360/system_config_backend_report_email</backend_model>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </time>
			  </fields>
			  </cron_settings_report> 
		<inventory_notification translate="label">
	          <label>Inventory Notification</label>
	          <page_heading>Help</page_heading>
	          <expanded>1</expanded>
	          <frontend_type>text</frontend_type>
	          <sort_order>6</sort_order>
	          <show_in_default>1</show_in_default>
	          <show_in_website>0</show_in_website>
	          <show_in_store>0</show_in_store>
		      <fields>
				<enabled translate="label">
					<label>Enable</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>9</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
              	</enabled>
              	<cron_setting translate="label">
                     <label>Oudated Product Notification Cron Frequency</label>
                     <frontend_model>dropship360/adminhtml_system_config_crontime</frontend_model>
		     <backend_model>dropship360/system_config_backend_oudatedinventory_email</backend_model>
                     <sort_order>10</sort_order>
                     <show_in_default>1</show_in_default>
                     <show_in_website>0</show_in_website>
                     <show_in_store>0</show_in_store>
                     <depends><enabled>1</enabled></depends>
                </cron_setting>
              	<email>
					<label>Email Address</label>
					<frontend_type>text</frontend_type>
					<validate>required-entry validate-email	</validate>
					<sort_order>11</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </email>
              <days>
					<label>Notify me when inventory isnt't updated for all products in</label>
					<frontend_type>text</frontend_type>
					<validate>required-entry validate-digits validate-digits-range digits-range-1-100</validate>
					<comment>days range from 1 to 100</comment>
					<sort_order>12</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<depends><enabled>1</enabled></depends>
              </days>
			 </fields>
 	 	</inventory_notification>
		<integration translate="label">
	          <label>Help</label>
	          <page_heading>Help</page_heading>
	          <expanded>1</expanded>
	          <frontend_type>text</frontend_type>
	          <sort_order>7</sort_order>
	          <show_in_default>1</show_in_default>
	          <show_in_website>0</show_in_website>
	          <show_in_store>0</show_in_store>
		          <fields>
					   <need_help>
						  <label>Need Help?</label>	
				          <frontend_type>link</frontend_type>
				          <frontend_model>dropship360/adminhtml_system_config_helplink</frontend_model>
				          <href>http://help.logicbroker.com/dropship360</href>
				          <sort_order>31</sort_order>
				          <show_in_default>1</show_in_default>
				          <show_in_website>0</show_in_website>
				          <show_in_store>0</show_in_store>
			          </need_help>
			      </fields>
 	 	</integration> 
       </groups>
    </logicbroker_sourcing>
  </sections> 
</config>
